.create-form {
  @include flex-spb;
  align-items: flex-start;
  gap: 24px;
  width: 100%;

  &__wrapper {
    @include flex-center-column;
    align-items: flex-start;
    gap: 16px;

    padding: 16px;
    background-color: $bg-yellow;
    border-radius: $input-border-radius;
  }

  &__inputs {
    @include flex-spb;
    align-items: flex-start;
    width: 100%;
  }

  &__input {
    width: 100%;

    &-ownerName {
      @include flex-center-column;
      width: 100%;
    }
  }

  &__card-status {
    @include flex-center;
    height: 100%;
  }

  &__buttons {
    @include flex-center;
    gap: 16px;
  }

  &__save-btn {
    background-color: $c-success;
    color: $c-white;

    @include hover(background-color, $c-success-hover);
  }
}
