.board {
  @include flex-center-column;
  width: 100%;

  background-color: $c-white;
  border-radius: $input-border-radius;
}

.connect-board {
  padding-block: 50px;
  @include flex-center-column;
  gap: 24px;

  &__head {
    @include flex-center-column;
    gap: 12px;
  }
}
