.create-form {
  @include flex-center-column;
  gap: 24px;
  width: 100%;

  @include onTablet {
    @include flex-spb;
    flex-direction: row;
    align-items: flex-start;
  }

  &__wrapper {
    @include flex-center-column;
    align-items: flex-start;
    gap: 16px;

    padding: 16px;
    background-color: $bg-yellow;
    border-radius: $input-border-radius;
  }

  &__inputs {
    @include flex-center-column;
    gap: 4px;
    width: 100%;

    @include onTablet {
      @include flex-spb;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__input {
    width: 100%;

    &-ownerName {
      @include flex-center-column;
      width: 100%;
    }
  }

  &__card-status {
    @include flex-center;
    height: 100%;
  }

  &__buttons {
    @include flex-center;
    justify-content: flex-end;
    gap: 16px;
    width: 100%;

    @include onTablet {
      width: 30%;
    }

    @include onDesktop {
      width: fit-content;
    }
  }

  &__save-btn {
    background-color: $c-success;
    color: $c-white;

    @include hover(background-color, $c-success-hover);
  }
}
