.icon {
  @include flex-center;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition-duration: $effect-duration;
  transition-property: background-image;

  &--location {
    background-image: url('./../../../public/location.svg');
    width: 16px;
    height: 16px;

    &-grey {
      background-image: url('./../../../public/location-grey.svg');
    }
  }

  &--down {
    background-image: url('./../../../public/down.svg');

    width: 20px;
    height: 20px;

    &-grey {
      background-image: url('./../../../public/down-grey.svg');
    }
  }

  &--team {
    background-image: url('./../../../public/team.svg');

    &--active {
      background-image: url('./../../../public/team-active.svg');
    }
  }

  &--logout {
    background-image: url('./../../../public/logout.svg');

    &--active {
      background-image: url('./../../../public/logout-active.svg');
    }
  }

  &--eye {
    background-image: url('./../../../public/eye.svg');

    &-off {
      background-image: url('./../../../public/eye-off.svg');
    }
  }

  &--close {
    background-image: url('./../../../public/close.svg');
  }

  &--clear {
    background-image: url('./../../../public/clear.svg');
  }

  &--hint {
    background-image: url('./../../../public/hint.svg');

    &:hover {
      background-image: url('./../../../public/hint-hover.svg');
    }
  }

  &--up {
    background-image: url('./../../../public/up.svg');
  }

  &--flag {
    background-image: url('./../../../public/flag.svg');
  }

  &--plus {
    background-image: url('./../../../public/plus.svg');
  }

  &--left {
    background-image: url('./../../../public/left.svg');

    cursor: pointer;
  }

  &--right {
    background-image: url('./../../../public/right.svg');

    cursor: pointer;
  }

  &--check {
    background-image: url('./../../../public/check.svg');

    &-success {
      background-image: url('./../../../public/check-success.svg');
    }
  }

  &--warning {
    background-image: url('./../../../public/warning.svg');
  }
}
