.locationList {
  @include flex-center-column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  max-height: 200px;
  width: 100%;

  background-color: $c-white;
  @include border($text-primary);

  border-top: 0;

  border-bottom-right-radius: $input-border-radius;
  border-bottom-left-radius: $input-border-radius;

  overflow-y: auto;
}
