* {
  font-family: 'Manrope';
  box-sizing: border-box;
  color: $text-primary;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;


  &:visited {
    color: $text-primary;
  }
}

input {
  appearance: none;
  border-color: transparent;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  outline: none;
  border: 0px;

  cursor: pointer;
}
