.card {
  @include flex-spb;
  gap: 0;

  @include text-body;
  font-weight: 600;

  @include onDesktop {
    @include flex-center;
    gap: 0;
  }

  &__avatar {
    @include flex-center;
    width: 40px;
    height: 40px;

    background-color: $c-info-bg;
    border-radius: $input-border-radius;

    @include text-body;
    font-weight: 600;
    color: $c-info;
  }

  &__owner-name {
    font-weight: 600;
  }

  &__status {
    @include flex-center;
    padding: 6px 16px;

    @include text-body;
    font-weight: 600;

    border-radius: $input-border-radius;

    &--active {
      color: $c-success;

      background-color: $c-success-bg;
    }

    &--inactive {
      color: $text-secondary;

      background-color: $bg-grey-hover;
    }
  }

  &__item {
    @include flex-center;
    justify-content: flex-start;
    padding: 16px;

    color: $text-secondary;

    &--rank {
      justify-content: center;

      @include onDesktop {
        width: 10%;
      }
    }

    &--name {
      gap: 8px;

      @include onDesktop {
        width: 40%;
      }
    }

    &--target {

      @include onDesktop {
        width: 60%;
      }
    }

    &--status {

      @include onDesktop {
        width: 30%;
      }
    }

    &--scan {

      @include onDesktop {
        width: 30%;
      }
    }

    &--taps {
      justify-content: flex-end;

      @include onDesktop {
        width: 10%;
      }
    }

    &--no-state {
      color: $text-disabled;
      text-align: center;
    }
  }
}
