.challenge {
  @include flex-center-column;
  gap: 24px;

  @include onTablet {
    width: 400px;
  }

  &__top {
    width: 100%;
  }

  &__buttons {
    @include flex-center;
    width: 100%;
    justify-content: flex-end;
  }

  &__description {
    display: block;
    width: 100%;
  }
}
