.logout {
  grid-column: span 4;
  @include flex-center-column;

  @include text-body;
  color: $text-primary;

  background-color: $c-white;

  @include onTablet {
    grid-column: span 12;
  }

  @include onDesktop {
    grid-column: 12/18;
  }

  &__buttons {
    @include flex-center;
  }

  &__btn {
    background-color: $c-info;

    @include hover(background-color, $c-info-hover);
  }

  &__btn-cancel {
    @include onDesktop {
      display: none;
    }
  }
}
