.sidebar {
  display: none;
  background-color: $c-white;

  @include onDesktop {
    grid-column: span 5;
    @include flex-spb-column;
    padding: 20px;

    border-right: 1px solid $input-border;
  }

  &--opened-on-mobile {
    @include flex-spb-column;
    grid-column: span 4;
    width: 100%;
    padding: 50px;
  }

  &__top {
    position: relative;
    @include flex-center-column;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
  }

  &__divider {
    border-bottom: 1px solid $input-border;
    width: 100%;
  }

  &__user {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }

  &__back-link {
    position: absolute;
    right: 0;
    top: 0;

    @include onDesktop {
      display: none;
    }
  }
}
