@import './TableBody/TableBody.scss';
@import './TableHead/TableHead.scss';
@import './CardItem/CardItem.scss';

.products-table {
  width: 100%;

  &__divider {
    border-bottom: 1px solid $input-border;
    width: 100%;
  }

  &__head {
    display: block;
    width: 100%;
  }

  &__body {
    display: block;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
  }
}
