.main {
  position: relative;
  grid-column: span 4;
  height: 100%;

  @include flex-center-column;
  justify-content: flex-start;
  gap: 24px;
  padding: 40px 32px;

  background-color: $bg-yellow;

  @include onTablet {
    grid-column: span 12;
  }

  @include onDesktop {
    grid-column: 6/-1;
  }
}
